<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Parts list</title>
</head>
<body>
<div class="container">
    <div style="padding-top:5%; padding-bottom:4%">
        <img src="/images/logo.png" style="width:5%; padding-bottom:1%"/>
        <span style="font-size:2rem; margin-left:1%; font-weight:500">Parts list</span>
    </div>

    <table class="table">
        <tr>
            <th>
                <form action="#" th:action="@{/update/{id}(id=${part.id})}" th:object="${part}"
                      method="post">

                    <div class="form-row align-items-center">
                        <div class="col-sm-3 my-1">

                            <label class="sr-only" for="name">Component name</label>
                            <input type="text" th:field="*{name}" class="form-control mb-2 mr-sm-2" id="name"
                                   placeholder="Component name" required>
                        </div>

                        <div class="col-sm-3 my-1">
                            <input type="number" min="0" th:field="*{quantity}" class="form-control mb-2 mr-sm-2"
                                   id="quantity"
                                   placeholder="Quantity">
                        </div>

                        <div class="col-sm-3 my-1">
                            <select class="form-control mb-2 mr-sm-2" id="necessity" th:field="*{necessity}">
                                <option value="false">Optional</option>
                                <option value="true">Necessary</option>
                            </select>
                        </div>
                        <div class="col-sm-3 my-1">
                            <button type="submit" class="btn btn-primary mb-2">Add a part</button>
                        </div>
                    </div>
                </form>
            </th>
        </tr>
    </table>

</div>
</body>
</html>